.nav {
	margin: 10px;
}

.row {
	margin: 10px;
}

table {
	height: 300px;
}

.table-bordered>tbody>tr>td {
	border: 1px solid black;
}

nav div {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

nav div p {
	margin: auto;
}